<a href="https://colab.research.google.com/github/sahintarkan/python/blob/main/Time_Sensitive_Real_Interview_Questions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_salary = pd.read_csv('./sales_082020.csv')
df_salary.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [ ]:
df_currency = pd.read_csv('./currency_rates_082020_EUR.csv')
df_currency.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)

In [ ]:
df_salary

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [ ]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [ ]:
len(df_salary)

237671

In [ ]:
df_salary.shape

(237671, 10)

In [ ]:
df_salary.shape[0]

237671

In [ ]:
df_salary.index

RangeIndex(start=0, stop=237671, step=1)

In [ ]:
df_salary.count()

buyer_id          237671
buyer_country     237671
seller_id         237671
seller_country    237671
product_code      237671
category          237655
brand             119330
currency          237671
price             237671
date              237671
dtype: int64

In [ ]:
df_salary.count()[0]

237671

In [ ]:
df_salary.buyer_id.count()

237671

In [ ]:
df_salary.size

2376710

2. How many columns in the sales dataset?(Just write the numbers)

In [ ]:
df_salary.columns

Index(['buyer_id', 'buyer_country', 'seller_id', 'seller_country',
       'product_code', 'category', 'brand', 'currency', 'price', 'date'],
      dtype='object')

In [ ]:
len(df_salary.columns)

10

In [ ]:
df_salary.columns.shape

(10,)

In [ ]:
df_salary.columns.shape[0]

10

In [ ]:
df_salary.columns.size

10

In [ ]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

3. What is the total number of sellers?(Just write the numbers in the format of 000.000)

In [ ]:
df_salary

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [ ]:
df_salary.seller_id.nunique()

114227

In [ ]:
df_salary.seller_id.value_counts()

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
b79drc4f      1
ivtfeqcd      1
uvfzdgb4      1
pbrox97s      1
0au7baxi      1
Name: seller_id, Length: 114227, dtype: int64

In [ ]:
df_salary.seller_id.unique()

array(['6oufpaot', '50xki2yg', 's0p322hh', ..., 'n2ez0xph', 'j1s4nqxb',
       '0au7baxi'], dtype=object)

In [ ]:
len(df_salary.seller_id.unique())

114227

In [ ]:
df_salary.seller_id.unique().shape

(114227,)

4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )

In [ ]:
df_salary

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [ ]:
df_currency

    currency       date    rate
0        EUR   8/1/2020  1.0000
1        EUR   8/2/2020  1.0000
2        EUR   8/3/2020  1.0000
3        EUR   8/4/2020  1.0000
4        EUR   8/5/2020  1.0000
..       ...        ...     ...
215      BRL   8/6/2020  6.3324
216      BRL   8/7/2020  6.4111
217      BRL   8/8/2020  6.4111
218      BRL   8/9/2020  6.4111
219      BRL  8/10/2020  6.4351

[220 rows x 3 columns]

In [ ]:
df = pd.merge(left=df_salary, right=df_currency, on=['currency', 'date'])
df

Empty DataFrame
Columns: [buyer_id, buyer_country, seller_id, seller_country, product_code, category, brand, currency, price, date, rate]
Index: []

In [ ]:
pd.to_datetime('3/11/2000')

Timestamp('2000-03-11 00:00:00')

In [ ]:
pd.to_datetime('2020-08-03')

Timestamp('2020-08-03 00:00:00')

In [ ]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [ ]:
df_salary.date.dtype

dtype('O')

In [ ]:
df_currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [ ]:
df_currency.date.dtype

dtype('O')

In [ ]:
type(df_currency.date[0])

str

In [ ]:
df_salary['date'] = pd.to_datetime(df_salary.date)

In [ ]:
df_currency['date'] = pd.to_datetime(df_currency.date)

In [ ]:
df = pd.merge(left=df_salary, right=df_currency, on=['currency', 'date'])
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935
...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237671 entries, 0 to 237670
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
 10  rate            237671 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 21.8+ MB

In [ ]:
df_currency.head(10)

  currency       date  rate
0      EUR 2020-08-01   1.0
1      EUR 2020-08-02   1.0
2      EUR 2020-08-03   1.0
3      EUR 2020-08-04   1.0
4      EUR 2020-08-05   1.0
5      EUR 2020-08-06   1.0
6      EUR 2020-08-07   1.0
7      EUR 2020-08-08   1.0
8      EUR 2020-08-09   1.0
9      EUR 2020-08-10   1.0

In [ ]:
df['sales'] = df.price/df.rate
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df['sales'].sum()

6471510.822498876

In [ ]:
round(df['sales'].sum(), 1)

6471510.8

In [ ]:
round(df['sales'].sum())

6471511

In [ ]:
int(df['sales'].sum())

6471510

5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

In [ ]:
df.brand.unique()

array([nan, 'Adidas Originals', 'Urban Outfitters', ..., 'Lisa Says Gah',
       'LC Lauren Conrad', 'KTZ'], dtype=object)

6. How many items in the “Jewellery” category have no brand associated with them?(Just write the numbers in the format of 00.000)

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [ ]:
df.category.values

array(['Dresses', 'Outerwear - Mens', 'Tops - Womens', ..., 'Jewellery',
       'Bottoms - Womens', 'Bottoms - Womens'], dtype=object)

In [ ]:
df.loc[ df.category == 'Jewellery']

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
12,p6nqo9ow69,GB,nssbpcrq,GB,wq0l762madfz,Jewellery,NaN,GBP,5.46,2020-08-03,0.899350,6.071051
13,p6nqo9ow69,GB,nssbpcrq,GB,barsdufpkov1,Jewellery,NaN,GBP,5.38,2020-08-03,0.899350,5.982098
14,p6nqo9ow69,GB,nssbpcrq,GB,sx4v979fwe9g,Jewellery,NaN,GBP,5.55,2020-08-03,0.899350,6.171124
17,pykp4zs8mc,GB,scikolkp,GB,737xf8jztbe3,Jewellery,NaN,GBP,3.16,2020-08-03,0.899350,3.513649
18,o5xp196pcv,GB,scikolkp,GB,737xf8jztbe3,Jewellery,NaN,GBP,3.19,2020-08-03,0.899350,3.547006
...,...,...,...,...,...,...,...,...,...,...,...,...
237559,r5yybfohtd,RoW,obj73jrd,RoW,cltpu36u88j9,Jewellery,NaN,CHF,51.37,2020-08-06,1.080625,47.537305
237603,cdg1teu4ci,RoW,qkbj84x9,RoW,57vayo0pe16h,Jewellery,NaN,CHF,6.43,2020-08-05,1.078185,5.963726
237605,akms2z4sfi,RoW,46doai5x,RoW,23m53gbwhy5i,Jewellery,NaN,CHF,12.98,2020-08-05,1.078185,12.038750
237644,5dqjb29gah,RoW,echsgc0o,RoW,gamzhdm6zesg,Jewellery,NaN,SEK,328.72,2020-08-07,10.314180,31.870687
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.414270,119.118223

In [ ]:
df.isna()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,False,False,False,False,False,False,True,False,False,False,False,False
237667,False,False,False,False,False,False,True,False,False,False,False,False
237668,False,False,False,False,False,False,True,False,False,False,False,False
237669,False,False,False,False,False,False,False,False,False,False,False,False
237670,False,False,False,False,False,False,True,False,False,False,False,False

In [ ]:
df.brand.isna()

0          True
1         False
2          True
3         False
4          True
          ...
237666     True
237667     True
237668     True
237669    False
237670     True
Name: brand, Length: 237671, dtype: bool

In [ ]:
df.loc[ df.category == 'Jewellery'].loc[df.brand.isna()]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
12,p6nqo9ow69,GB,nssbpcrq,GB,wq0l762madfz,Jewellery,NaN,GBP,5.46,2020-08-03,0.899350,6.071051
13,p6nqo9ow69,GB,nssbpcrq,GB,barsdufpkov1,Jewellery,NaN,GBP,5.38,2020-08-03,0.899350,5.982098
14,p6nqo9ow69,GB,nssbpcrq,GB,sx4v979fwe9g,Jewellery,NaN,GBP,5.55,2020-08-03,0.899350,6.171124
17,pykp4zs8mc,GB,scikolkp,GB,737xf8jztbe3,Jewellery,NaN,GBP,3.16,2020-08-03,0.899350,3.513649
18,o5xp196pcv,GB,scikolkp,GB,737xf8jztbe3,Jewellery,NaN,GBP,3.19,2020-08-03,0.899350,3.547006
...,...,...,...,...,...,...,...,...,...,...,...,...
237559,r5yybfohtd,RoW,obj73jrd,RoW,cltpu36u88j9,Jewellery,NaN,CHF,51.37,2020-08-06,1.080625,47.537305
237603,cdg1teu4ci,RoW,qkbj84x9,RoW,57vayo0pe16h,Jewellery,NaN,CHF,6.43,2020-08-05,1.078185,5.963726
237605,akms2z4sfi,RoW,46doai5x,RoW,23m53gbwhy5i,Jewellery,NaN,CHF,12.98,2020-08-05,1.078185,12.038750
237644,5dqjb29gah,RoW,echsgc0o,RoW,gamzhdm6zesg,Jewellery,NaN,SEK,328.72,2020-08-07,10.314180,31.870687
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.414270,119.118223

In [ ]:
df.loc[ df.category == 'Jewellery'].loc[df.brand.isna()].product_code.nunique()

10931

In [ ]:
df.product_code

0         ydecnydr6obf
1         wpxxf59cq7pc
2         ua9mmn86wsqy
3         tduo2uy8iszl
4         39o00tcu89zq
              ...
237666    nan9a4p10ayk
237667    lxj477q1hab2
237668    2g0g0obhwjuc
237669    5mm5eg99xbu2
237670    wrgq88ujwh5d
Name: product_code, Length: 237671, dtype: object

In [ ]:
df.product_code.value_counts()

fb59ug7bzkz5    177
wkc7by4bxkn9    103
2x1b88kr0j4c     77
qjdrcwym5i7s     63
hjh76t2fcxqe     62
               ...
4q113dttuetr      1
8dvx5h9cm1ae      1
y6uw2qhd18vz      1
httlhu12gcs1      1
wrgq88ujwh5d      1
Name: product_code, Length: 226311, dtype: int64

In [ ]:
df.product_code.value_counts()

In [ ]:
df.product_code.nunique()

226311

7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

In [ ]:
d = df.brand.value_counts()
d

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

In [ ]:
d.values>35

array([ True,  True,  True, ..., False, False, False])

In [ ]:
d.loc[ (d.values>=35) & (d.values<=55)]

Missy Empire      55
George            55
Cotton On         53
Oasis             52
Moda Minx         52
                  ..
ghd               35
Chi Chi London    35
Xhilaration       35
Jansport          35
Bobbi Brown       35
Name: brand, Length: 81, dtype: int64

In [ ]:
d.index

Index(['Nike', 'Brandy Melville', 'Topshop', 'PrettyLittle Thing', 'Adidas',
       'American Vintage', 'Zara', 'Urban Outfitters', 'ASOS', 'Vans',
       ...
       'Parker', 'Ann Demeulemeester', 'Seychelles', 'Oak + Fort',
       'Maidenform', 'Filson', 'Surf Gypsy', 'Chaser', 'All Things Mochi',
       'KTZ'],
      dtype='object', length=1134)

In [ ]:
d.index.name='seri_index_isim'
d

seri_index_isim
Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

 8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.loc[ df.buyer_country=='AU' ].category.loc[ df.category=='Shoes']

13420     Shoes
14090     Shoes
17679     Shoes
17845     Shoes
18587     Shoes
          ...
231398    Shoes
236153    Shoes
236677    Shoes
236928    Shoes
237627    Shoes
Name: category, Length: 658, dtype: object

In [ ]:
df.loc[ df.buyer_country=='AU' ].category.loc[ df.category=='Shoes'].shape[0]

658

In [ ]:
df.loc[ df.buyer_country=='AU' ].category

445       Bottoms - Womens
739                   Tech
1035         Tops - Womens
1888           Accessories
1889           Accessories
                ...
237436    Bottoms - Womens
237444         Accessories
237451             Dresses
237627               Shoes
237668           Jewellery
Name: category, Length: 7868, dtype: object

In [ ]:
df.loc[ df.buyer_country=='AU' ]['category']

445       Bottoms - Womens
739                   Tech
1035         Tops - Womens
1888           Accessories
1889           Accessories
                ...
237436    Bottoms - Womens
237444         Accessories
237451             Dresses
237627               Shoes
237668           Jewellery
Name: category, Length: 7868, dtype: object

In [ ]:
df.loc[ df.buyer_country=='AU' ][['category']]

                category
445     Bottoms - Womens
739                 Tech
1035       Tops - Womens
1888         Accessories
1889         Accessories
...                  ...
237436  Bottoms - Womens
237444       Accessories
237451           Dresses
237627             Shoes
237668         Jewellery

[7868 rows x 1 columns]

In [ ]:
df.loc[ df.buyer_country=='AU' ].category.apply( lambda x: x=='Shoes' )

445       False
739       False
1035      False
1888      False
1889      False
          ...
237436    False
237444    False
237451    False
237627     True
237668    False
Name: category, Length: 7868, dtype: bool

In [ ]:
df.loc[ df.buyer_country=='AU' ].category.apply( lambda x: x=='Shoes' ).value_counts()

False    7210
True      658
Name: category, dtype: int64

In [ ]:
df.loc[ df.buyer_country=='AU' ].category.apply( lambda x: x=='Shoes' ).sum()

658

9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.groupby('brand').mean()['sales'].head(400)

brand
& Other Stories       33.126275
032c                  36.693996
11 Degrees            14.534039
1822 Denim            18.089935
3.1 Phillip Lim       32.805235
                        ...
Golf wang             38.319495
Goodhood             108.441929
Gosha Rubchinskiy     57.380639
Gotcha                19.427122
Goyard               338.926936
Name: sales, Length: 400, dtype: float64

In [ ]:
df.groupby('brand').mean()['sales'].index

Index(['& Other Stories', '032c', '11 Degrees', '1822 Denim',
       '3.1 Phillip Lim', '360 Cashmere', '36572', '3LAB', '3sixteen', '3x1',
       ...
       'bareMinerals', 'butter LONDON', 'do Sport', 'e.l.f.', 'francesca's',
       'ghd', 'kensie', 'liquid blue', 'mixxmix', 'philosophy'],
      dtype='object', name='brand', length=1134)

In [ ]:
df.groupby('brand').mean()['sales'].max(), df.groupby('brand').mean()['sales'].argmax(),\
df.groupby('brand').mean()['sales'].idxmax()

(338.92693604836, 399, 'Goyard')

In [ ]:
 df_new.groupby("brand")["total"].mean().idxmax() #buda baska sekilde cozumu imis

NameError: ignored

10. What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers in the format of 0.000.000 )

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.loc[ (df.buyer_country=='GB') & (df.seller_country=='GB') ]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.899350,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.899350,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.899350,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.899350,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.899350,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
235867,4bdwbzrro6,GB,k3mm4vxx,GB,83ud4yc60daa,Accessories,NaN,EUR,19.03,2020-08-04,1.000000,19.030000
236300,opd00596sb,GB,an5r1hl6,GB,0ku1jrnf43o3,Tops - Womens,Fendi,EUR,59.95,2020-08-04,1.000000,59.950000
236796,yfi1i9skeo,GB,x20r5ih7,GB,cqevc7rcp5my,Tops - Mens,Octobers Very Own,CAD,422.54,2020-08-03,1.575375,268.215504
236924,0txj6lkg8n,GB,wpenf96j,GB,xczajl2pp9se,Accessories,Louis Vuitton,NZD,117.11,2020-08-09,1.785000,65.607843
237633,k357zicv95,GB,pzbp73fd,GB,yemuo4mkv1ux,Bottoms - Mens,Unbranded,SEK,212.27,2020-08-05,10.272170,20.664572

In [ ]:
df.loc[ (df.buyer_country=='GB') & (df.seller_country=='GB') ]['sales']

0          21.248680
1          27.697782
2          21.471062
3          18.880302
4           3.168955
             ...
235867     19.030000
236300     59.950000
236796    268.215504
236924     65.607843
237633     20.664572
Name: sales, Length: 133876, dtype: float64

In [ ]:
df.loc[ (df.buyer_country=='GB') & (df.seller_country=='GB') ]['sales'].sum()  # para birimi aynı değil

3526745.033129233

In [ ]:
round( df.loc[ (df.buyer_country=='GB') & (df.seller_country=='GB') ]['sales'].sum() )

3526745

11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)

In [ ]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [ ]:
df.loc[ df.seller_country == 'US' ]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales
2283,3j95yx6wup,GB,skmvdhuk,US,ync12uryxow0,Shoes,Nike,GBP,111.00,2020-08-03,0.89935,123.422472
2284,x7aa9gdbc4,US,skmvdhuk,US,jyz0v0al09uw,Tops - Mens,Hugo Boss,GBP,19.68,2020-08-03,0.89935,21.882471
6049,57o59g602o,GB,6wrqs7vq,US,cajxgdvj4pi7,Tops - Mens,Patagonia,GBP,38.49,2020-08-03,0.89935,42.797576
8093,ugqd9ybhv6,US,4f4klmnu,US,fv9znlng5p7f,Tops - Mens,NaN,GBP,34.24,2020-08-03,0.89935,38.071941
10109,c0926rtpnh,GB,vb2kphyp,US,thmojbwtriv6,Other,NaN,GBP,9.65,2020-08-03,0.89935,10.729972
...,...,...,...,...,...,...,...,...,...,...,...,...
237620,gaeeaczxhm,RoW,nwf1wnr9,US,hhyjdd6q4dd8,Art,NaN,SEK,329.98,2020-08-03,10.29040,32.066781
237622,6zqe0dq688,RoW,nwf1wnr9,US,7hb82zo1qwsx,Art,NaN,SEK,312.31,2020-08-06,10.32150,30.258199
237639,8qfb4oy0qx,US,8hqcuuzp,US,os3m6i2pyuns,Other,NaN,JPY,3352.54,2020-08-06,125.37500,26.740100
237658,n8toz7raxv,US,jjvkctil,US,7p6hqqxi87f6,Bottoms - Womens,ASOS,TWD,42.81,2020-08-04,34.62260,1.236476
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497

# first

In [ ]:
df.loc[ df.seller_country == 'US' ].buyer_country.value_counts()

US     80658
CA       391
RoW      382
GB       301
AU       229
DE        66
FR        45
IE        28
IT        11
Name: buyer_country, dtype: int64

In [ ]:
df.loc[ df.seller_country == 'US' ].buyer_country.value_counts()[0]

80658

In [ ]:
df.loc[ df.seller_country == 'US' ].buyer_country.value_counts().US

80658

In [ ]:
df.loc[ df.seller_country == 'US' ].buyer_country.value_counts().US / df.loc[ df.seller_country == 'US' ].shape[0]*100

98.23044415486353

In [ ]:
df.loc[ df.seller_country == 'US' ].shape

(82111, 12)

In [ ]:
df.loc[ df.seller_country == 'US' ].shape[0]

82111

# second aproach our vision

In [ ]:
a = df.loc[ df.seller_country == 'US' ].sales.sum()  # us sum sales
a

2106695.5606899997

In [ ]:
b = df.loc[ (df.seller_country == 'US') & (df.buyer_country == 'US')].sales.sum()
b

2021779.311517296

In [ ]:
b/a*100

95.96922067159569

In [ ]:
round( b/a*100, 2)

95.97